<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>SIG@ - SISTEMA DE GESTÃO @DMINISTRATIVA</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'login_siga' %>
    </head>
    <body>
    <div id="tudo">
    <div id="conteudo"
    <center>
    <%= yield %>
    </center>
    </div>
    </div>
    </body>
</html>